\documentclass[10pt,a4paper,roman]{moderncv}
\moderncvtheme[blue]{classic}

\photo[80pt][0pt]{((profile_pic))}

\usepackage[utf8]{inputenc}
\usepackage{fontawesome}
\usepackage[scale=0.9]{geometry} % La taille pris par le contenu, ici on a 10% de marges.
\nopagenumbers{} % Permet de masquer les numéros de page

\setlength{\hintscolumnwidth}{0.25\textwidth}

\title{((title))}
\firstname{((first_name))}
\familyname{((last_name))}
\address((*for ad in address*)){((ad))}((*endfor*))
\mobile{((phone_number))}
\email{((email))}
((*if extra_info*))
((*for i in extra_info*))
\extrainfo{((i))}
((*endfor*))
((*endif*)) 

\begin{document}
\maketitle

\section{Expériences professionnelles}
((*for xp in experience*))
\cventry{((xp.from)) - ((xp.to))}{((xp.title))}{((xp.employer))}{((xp.location))}{}{((xp.description))}
((*endfor*))

\section{Formation}
((*for year in education*))
\cventry{((year.from)) - ((year.to))}{((year.title))}{((year.institution))}{((year.city))}{}{((year.description))}
((*endfor*))

\section{Compétences informatiques et langues}
\cvcomputer{Langages}{((*for lang in computer_skills.languages*))((lang))\\((*endfor*))}{Logiciels}{((*for soft in computer_skills.software*))((soft))\newline{}((*endfor*))}
\cvcomputer{Technologies}{((*for lang in computer_skills.technologies*))((lang))\newline{}((*endfor*))}{Langues}{((*for l in languages*))((l))\\((*endfor*))}

\section{Centres d'intérêt et compétences non techniques}

\cvcomputer{Loisirs}{((*for h in hobbies*))((h))\newline{}((*endfor*))}{Compétences non techniques}{((*for skill in soft_skills*))((skill))\\((*endfor*))}

\end{document}